@model Book
@{
    ViewData["Title"] = "Delete";
}
<br />
<h2>Delete</h2>
<hr />
<form asp-action="Delete">
    <div class="row form-border">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-sm-10">
                    <input disabled asp-for="Name" class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
            <input type="submit" asp-action="Index" value="Back to List" class="btn btn-sm btn-success" />
        </div>
    </div>
</form>
